.th.mat-header-cell  {
    background-color: #59abfd;
    opacity: 1;
  }

  th.mat-sort-header-sorted {
    color: black;
  }

  .highLevel{
    color:green;
}

.mediumLevel{
    color:orange;
}

.lowLevel{
    color: red;
}