@use "@material/icon-button";
@use "material-design-icons-iconfont";

.popupMargins{
    margin: 30px 30px 30px 30px;
} 

.rowMargins{
    margin: 20px 20px 20px 20px;
}


.liButton { cursor: pointer; }


.nowrap{
    display: inline-block;
    white-space: nowrap;
}

.div10{
    width: 20%;
}

.div60{
    width: 60%;
}

.addHebrewWordButton{
    font-size: 24px;
}